.page-item.active .page-link {
    background-color: #8fbc8f;
    border-color: #dee2e6;
    color: #000000;
}

.page-item.disabled .page-link {
    background-color: #d2b48c;
//    border: none;	// set enable to hide the border
}

.page-link {
    background-color: #d2b48c;
//    border: none;	// set enable to hide the border
}

.list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: flex-start;
    justify-content: center;
}

.table {
    width: 100%;
    max-width: 70%;
}

.title {
    background-color: #8fbc8f;
}