.list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: flex-start;
    justify-content: center;
}

.table {
    width: 100%;
    max-width: 70%;
}

.title {
    background-color: #8fbc8f;
}